.news-template{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 25%;
}

.news-template__item{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 2%;
}
  
.news__picture{
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 40%;
}
  
.news__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
  
.news__content{
    text-align: left;
    width: 60%;
}
  
.news__title{
    font-size: 14px;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    text-align: justify;
    font-weight: bold;
}
  
.news__source{
    font-size: 12px;
    color: #444444;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0;
    text-transform: uppercase;
}
  
.news__text{
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0;
    text-align: justify;
}
  
.news__link{
    outline: none;
    font-size: 12px;
    text-decoration: none;
    color: #8f1515;
    margin-left: 10px;
    margin-top: 10px;
}
