/*----------------------------nav------------*/
nav span{
    display: none;
}


nav{
    height: 95px;
}

nav ul{
    font-size: 15px;
}

/*---------------------banner----------------*/


.banner .ref{
    height: 675px;
}

.banner .info{
    font-size: 35px;
}

.banner .link,
.banner .angle{
    font-size: 25px;
}

/*---------------------text----------------*/

.text{
    height: 235px;
}

.text>.wrapper p{
    font-size: 20px;
}

.text .link{
    font-size: 35px;
}

/*---------------------imgs----------------*/

.imgs>.link{
    font-size: 30px;
}

.imgs>.img-wrap,
.imgs>.link{
    width: 33.333%;
}

/*---------------------main----------------*/

main article{
    float: left;
    width: 45%;
    font-size: 10px;
}

main article:nth-child(odd){
    padding-left: 4%;
}

main article:nth-child(even){
    padding-right: 4%;
}

main .link{
    font-size: 20px;
}