body{
    width: 100%;
    min-width: 321px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #ebebeb;
}

.angle{
    color: white;
    text-decoration: none;
}

/*_____________nav___________________*/
nav{
    width: 100%;
    position: fixed;
    color: white;
    background: #373c3f;
    z-index: 1;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: flex;
    height: 100%;
    background: #373c3f;
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
    transition: all 400ms linear;
    float: left;
}

nav ul li a{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

nav span{
    color: inherit;
    display: flex;
    align-items: center;
    float: left;
    height: 100%;
    padding-left: 5%;
}

nav ul li:hover{
    background-color: grey;
}

nav .menu-wrapper{
    height: 100%;
}

nav .menu-wrapper .burger{
    display: none;
}



/*______________banner______________________*/


.banner{
    width: 100%;
    height: fit-content;
    background: linear-gradient(to bottom right, #19b4c6, #078aa4);
}

.banner>.ref{
    display: block;
    position: relative;
}

.banner>.ref>.content{
    display: block;
    position: absolute;
    margin-left: 10%;
    top: 43%;
    max-width: 80%;
    word-wrap: break-word;
}

.banner>.ref>.content>.info{
    display: block;
    width: 100%;
    color: white;
    font-weight: bold;
    letter-spacing: 0.17em;
}

.banner>.ref>.content>.link{
    float: left;
    color: #abd5de;
    width: 80%;
}

.banner>.ref>.content>.angle{
    float: right;
    width: 20%;
    color: white;
    text-align: right;
}

.banner>.ref>.content>.link,
.banner>.ref>.content>.angle{
    display: block;
    padding-top: 1.5em;
}

/*-----------------------text--------------------------*/

.text .wrapper{
    position: relative;
    float: left;
    width: 80%;
    height: 100%;
    background-color: #302a34;
}

.text .wrapper p{
    position: absolute;
    margin-top: -0.5em;
    width: 100%;
    top: 50%;
    color: grey;
    word-wrap: break-word;
    text-align: center;
}

.text .link{
    position: relative;
    float: right;
    background-color: #bc3183;
    width: 20%;
    height: 100%;
    text-align: center;
}


.text .link .angle,
.imgs .link .angle{
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
}


/*-----------------------imgs--------------------------*/
.imgs {
    display: flex;
    clear: both;
    width: 100%;
}

.imgs .angle{
    height: 100%;
    width: 100%;
}

.imgs>.img-wrap,
.imgs>.link{
    float: left;
    position: relative;
    text-decoration: none;
    background-color: #5b0fa1;
}

.imgs .img-wrap img,
.imgs .link .angle{
    width: 100%;
    display: block;
}
/*______________main______________________*/

main{
    width: 100%;
    word-wrap: break-word;
    clear: both;
}

main article{
    display: block;
    box-sizing: border-box;
    line-height: 1.9em;
    padding-top: 0;
    padding-bottom: 3.5em;
}

main .link{
    display: block;
    text-decoration: none;
    color: #37a0b4;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    padding-top: 2em;
    padding-bottom: 2em;
}

main .link,
main article{
    padding-left: 8%;
    padding-right: 8%;
}