.searchbox__content .searchbox__icon--middlesized{
    display: block;
}

.navigation .smallmenu--open{
    display: block;
}

.navigation .navigation__label{
    display: block;
    padding: 15px;
}

.navigation .smallmenu--open .smallmenu__icon--middlesized{
    display: block;
    padding: 10px;
}

.navigation .navigation__menu{
    display: none;
}


.navigation{
    height: 52px;
}

.searchbox{
    height: 100px;
}

.searchbox .searchbox__leftside{
    width: 75%;
    height: 100%;
    font-size: 15px;
}

.searchbox .searchbox__content{
    width: 25%;
    height: 100%;
}

.searchbox .searchbox__content:hover{
    width: 25%;
    height: 100%;
}

.searchbox .searchbox__content .searchbox__icon{
    top: 35px;
}

.banner{
    background-color: #13adc1;
    height: 400px;
}

.banner__link,
.banner__icon{
    padding-top: 40px;
    font-size: 30px;
}

.banner .banner__text{
    font-size: 30px;
}

.banner__link{
    top: 60px;
    font-size: 20px;
    width: 80%;
}

.banner__content{
    left: 10%;
    top: 15%;
}

.gallery{
    width: 100%;
}

.gallery__image{
    width: 100%;
}


.info{
    min-height: 600px;
    padding: 4%;
}

.info .info__paragraph{
    width: 100%;
}

.info .info__secondParagraph{
    display: none;
}


.info__paragraph .paragraph__text{
    font-size: 15px;
    padding: 3.5%;
}

.info .info__header{
    padding-left: 3.5%; 
    padding-bottom: 2%;
    font-size: 25px;
}
