<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>NewsAPI Application</title>
    </head>
    <body>
        ${require('./header.html')}
        <main class="main">
            ${require('./search.html')}
            ${require('./sources.html')}
            ${require('./news.html')}
        </main>
        ${require('./footer.html')}
        ${require('./templates.html')}
    </body>
</html>