<template id="newsItem-tpl" class="template">
    <div class="news-item">
        <a href="" class="news-item__link-container" target="_blank">
            <div class="news-item__container"> 
                <div class="news-item__image"></div>
                <div class="news-item__description-container">
                    <h1 class="news-item__title"></h1>
                    <h3 class="news-item__source"></h3>
                    <hr>
                    <p class="news-item__content"></p>
                </div>
            </div>
        </a>
    </div>
</template>