img{
   width: 700px;
   height: 400px;
   margin-left: 20%; 
}

hr{
   height: 5px;
   background-color: gray;
   text-decoration: none;
   border-radius: 5px;
}

.main_line{
   height: 15px;
}

.news_class{
   color: black;
   text-decoration: none;
   font-weight: bold;
   font-size: 200%;
   font-style: italic;
   margin-left: 10%;
}

.news_class:hover{
   color: green;
}

.load_more_btn{
   margin-left: 50%;
}

.load_more_btn:hover{
   color: green;
}

.news__content{
   color: black;
   text-decoration: none;
   font-weight: bold;
   font-size: 120%;
   font-style: italic;
    margin-left: 200px;
}

.btn_search_class{
   float: right;
   font-weight: bold;
}

.btn_search_class:hover{
   color: green;
}

.search_field{
   float: right;
   width: 20%;
}

.search_btn{
   font-weight: bold;
   float: right;
}

.search_btn:hover{
   color: green;
}

.source_btn{
   width: 15%;
   height: 15%;
   font-weight: bold;
   font-size: 15px;
   padding-top: 10px;
   margin-top: 10px;
   margin-left: 5px;
}

.source_btn:hover{
   color: green;  
}