@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

header i {
	visibility: hidden;
	font-size: 0;
}

header > ul {
	list-style-type: none;
	padding: 30px 0px 30px 20px;
}

header > ul li {
	font-size: 14px;
	display: inline;
	padding: 0px 20px;
}

header {
	background-color: #363B3E;
	color: white;
}

.nav {
	font-size: 0;
}

.intro {
	padding: 100px 0px;
	margin-top: -20px;
	background-color: #0989A3;
}

.intro .part_1 {
	padding: 50px;
	padding-left: 5%;
	font-size: 50px;
	color: white;
}

.intro .part_2 {
	display: inline;
	padding-left: 5%;
	font-size: 24px;
	color: #A4D0DA;
}

.intro .part_2 > i{
	padding-left: 275px;
	color: white;
}

.line_2 {
	display: inline;
}

.line_2 .part_1 {
	height: 30px;
	float: left;
	padding: 40px 0;
	padding-left: 5%;
	font-size: 24px;
	background-color: #26202B;
	color: #91819F;
	width: 88%;
}

.line_2 .part_2 {
	height: 30px;
	float: right;
	padding: 40px 0;
	text-align: center;
	font-size: 24px;
	background-color: #BC3182;
	color: white;
	width: 7%;
}

.line_3 {
	font-size: 0;
}

.line_3 img {
	width:33.33333%;
}


.text {
	color: #606060;
	font-size: 14px;
	padding: 0 40px;
	margin-top: -25px;
	background-color: #EAEAEA;
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
	height: auto;
	
}
h1 {
	margin-top: -25px;
	padding: 60px 0 10px 40px;
	color: #0989A3;
	background-color: #EAEAEA;
}